[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Login Sound
Comment=
Exec=canberra-gtk-play -f /usr/share/sounds/login.oga
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

