[Desktop Entry]
Version=1.0
Name=Audio Mixer
Name[ar]=مازج الصوت
Name[bg]=Звуков Миксер
Name[ca]=Mesclador d'àudio
Name[cs]=Zvukový směšovač
Name[da]=Lydmikser
Name[de]=Lautstärkeregler
Name[el]=Μίκτης Ήχου
Name[en_AU]=Audio Mixer
Name[es]=Mezclador de audio
Name[eu]=Audio nahastailea
Name[fi]=Mikseri
Name[fr]=Mélangeur audio
Name[hr]=Mikser zvuka
Name[hu]=Hangkeverő
Name[id]=Audio Mixer
Name[is]=Hljóðblandari
Name[it]=Mixer Audio
Name[ja]=オーディオミキサー
Name[kk]=Аудио миксері
Name[ko]=오디오 음량 조절기
Name[ms]=Pengadun Audio
Name[nl]=Volumeregelaar
Name[oc]=Mesclador àudio
Name[pl]=Mikser dźwięku
Name[pt]=Gestor de som
Name[pt_BR]=Mixer de áudio
Name[ro]=Mixer audio
Name[ru]=Регулятор громкости 
Name[sr]=Мешач звука
Name[sv]=Ljudmixer
Name[th]=เครื่องมือปรับเสียง
Name[ug]=ئۈن كىرىشتۈرگۈ
Name[uk]=Аудіо мікшер
Name[zh_CN]=混音器
Name[zh_HK]=混音器
Name[zh_TW]=混音器
Comment=Adjust volume levels
Comment[ar]=ضبط مستوى الصوت
Comment[bg]=Регулиране нивото на звука
Comment[ca]=Ajusta els nivells de volum
Comment[cs]=Upravit úrovně hlasitosti
Comment[da]=Justér lydniveauer
Comment[de]=Lautstärke einstellen
Comment[el]=Ρύθμιση της έντασης ήχου
Comment[en_AU]=Adjust volume levels
Comment[es]=Ajusta los niveles de volumen
Comment[eu]=Ezarri bolumen teklak
Comment[fi]=Hallitse äänitasoja
Comment[fr]=Régler les niveaux du volume
Comment[hr]=Prilagodi razine glasnoće
Comment[hu]=Hangerőszintek beállítása
Comment[id]=Sesuaikan tingkat volume
Comment[is]=Stilla hljóðstyrk
Comment[it]=Regola livelli volume
Comment[ja]=音量レベルを調整します
Comment[kk]=Дыбыс деңгейлерін орнату
Comment[ko]=음량 수준 조절
Comment[ms]=Laras aras volum
Comment[nl]=Stel volumeniveaus bij
Comment[oc]=Reglar los nivèls del volum
Comment[pl]=Dostosuj poziom głośności
Comment[pt]=Ajustar nível de volume
Comment[pt_BR]=Ajusta os níveis de volume
Comment[ro]=Ajustați nivelurile de volum
Comment[ru]=Регулирует уровень звука
Comment[sr]=Прилагоди јачинe звука
Comment[sv]=Justera ljudvolymer
Comment[th]=ปรับความดังช่องต่างๆ ของเสียง
Comment[tr]=Ses düzeyini ayarla
Comment[ug]=ئاۋاز دەرىجىسىنى تەڭشەش
Comment[uk]=Налаштувати рівні звуку
Comment[zh_CN]=调整音量
Comment[zh_HK]=調整音量
Comment[zh_TW]=調整音量
Icon=multimedia-volume-control
Exec=xfce4-mixer
Type=Application
StartupNotify=true
Terminal=false
Categories=X-XFCE;Audio;Mixer;AudioVideo;
NoDisplay=true
